@charset "UTF-8";
/*---------------------------------

  header

---------------------------------*/
.header {
  background: rgba(255, 255, 255, 0.8);
  height: 8rem;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 13;
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .header {
    height: 7rem;
  }
}
@media screen and (max-width: 480px) {
  .header {
    height: 4rem;
  }
}
.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
@media screen and (max-width: 1024px) {
  .header__inner {
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .header__inner {
    padding: 5px;
  }
}
.header .logo_pc {
  width: 30%;
  max-width: 200px;
}
@media screen and (max-width: 1133px) {
  .header .logo_pc {
    display: none;
  }
}
.header .nav_wrap {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 1133px) {
  .header .nav_wrap {
    display: none;
  }
}
.header .nav_wrap .navigation {
  display: flex;
  align-items: center;
  list-style: none;
}
.header .nav_wrap .navigation li {
  position: relative;
  padding: 0 20px;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #00AE6E;
}
.header .nav_wrap .navigation li:last-child {
  border-right: 2px solid #00AE6E;
}
.header .nav_wrap .navigation li a {
  color: #222;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .nav_wrap .navigation li a span {
  display: block;
  color: #00AE6E;
  font-size: 1.2rem;
}
.header .nav_wrap .navigation li a img {
  width: 20px;
  height: 20px;
}
.header .nav_wrap .navigation li.navbtn {
  width: 260px;
  height: 6rem;
  border-radius: 50px;
}
.header .nav_wrap .navigation li.navbtn a {
  font-size: 2.2rem;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.header .nav_wrap .navigation li.navbtn a::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
.header .nav_wrap .navigation li.active {
  background-color: rgba(0, 174, 110, 0.4);
}
.header .nav_wrap .nav_btn {
  height: 9rem;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #00AE6E;
  position: relative;
  color: #fff;
  text-align: center;
  padding: 10px 14px 0;
}
.header .nav_wrap .nav_btn::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.header__sp {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__sp .sp_logo {
  width: 30%;
  max-width: 180px;
}
@media screen and (max-width: 1133px) {
  .header__sp {
    display: flex;
  }
}
.header__sp .menu-trigger,
.header__sp .menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
.header__sp .menu-trigger {
  position: relative;
  width: 24px;
  height: 18px;
  border: none;
  appearance: none;
  cursor: pointer;
}
.header__sp .menu-trigger span {
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #222;
}
.header__sp .menu-trigger span:nth-of-type(1) {
  top: 0;
}
.header__sp .menu-trigger span:nth-of-type(2) {
  top: 8px;
}
.header__sp .menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.header__sp .menu-trigger.active span:nth-of-type(1) {
  transform: translateY(11px) rotate(-45deg);
}
.header__sp .menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.header__sp .menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-5px) rotate(45deg);
}

.gnav {
  position: fixed;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
  padding: 8rem 0 2rem;
  left: 0;
  top: 0;
  background: #BFE7F9;
  z-index: 12;
  display: none;
}
.gnav__menu {
  margin-bottom: 3rem;
}
.gnav__menu__item a {
  display: block;
  padding: 1rem 1.5rem;
  color: #222;
  position: relative;
  font-size: 2rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .gnav__menu__item a {
    font-size: 1.4rem;
  }
}
.gnav .btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gnav .btns a {
  font-size: 1.6rem;
  height: 4.5rem;
  padding-left: 26px;
  border-radius: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.gnav .btns a::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}

/*---------------------------------

  footer

---------------------------------*/
footer {
  background: #717171;
}
@media screen and (max-width: 480px) {
  footer {
    padding: 8px 0;
  }
}
footer small {
  background-color: #222;
  color: #fff;
  font-size: 12px;
  font-family: Noto Sans;
  letter-spacing: 3px;
  text-align: center;
  display: block;
}
@media screen and (max-width: 480px) {
  footer small {
    letter-spacing: 0;
    font-size: 10px;
  }
}

/*---------------------------------

  共通

---------------------------------*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  color: #222;
  line-height: 1.7;
  background-color: #fff;
}

a {
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .br_pc {
    display: none;
  }
}

.br_tab {
  display: none;
}
@media screen and (max-width: 1024px) {
  .br_tab {
    display: block;
  }
}

.br_sp {
  display: none;
}
@media screen and (max-width: 480px) {
  .br_sp {
    display: block;
  }
}

.sec_title {
  text-align: center;
  font-weight: 700;
  color: #00AE6E;
  font-size: 3.2rem;
  letter-spacing: 0.1em;
}
.sec_title span {
  display: block;
  font-size: 1.8rem;
  color: #222;
}

.btn {
  background-color: #00AE6E;
  height: 7rem;
  border-radius: 50px;
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: max(90%, 470px);
  position: relative;
  margin: 0 auto;
}
.btn::after {
  content: " ";
  background-image: url(../img/btn_arrow_wh.svg);
  background-size: cover;
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
}

/*---------------------------------

  mv

---------------------------------*/
.mv {
  position: relative;
}
.mv__text {
  position: absolute;
  left: 0;
  bottom: 100px;
  background-color: rgba(0, 174, 110, 0.7);
  padding: 2rem 8rem;
}
.mv__text .text1 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.1em;
  margin-bottom: 3rem;
}
.mv__text .text2 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

/*---------------------------------

  about

---------------------------------*/
.about {
  background: url(../img/about_bg.png);
  background-size: cover;
  padding: 5% 0 10%;
}
.about__inner {
  width: min(1100px, 90%);
  margin: 0 auto;
  background-color: #fff;
  padding: 7rem 4rem;
}
.about .sb_title {
  margin: 6rem auto;
  text-align: center;
  font-size: 2.8rem;
  position: relative;
  width: max-content;
}
.about .sb_title::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #00AE6E;
  bottom: 0;
  left: 0;
}
.about .contents {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.about .contents img {
  width: 43%;
}
.about .contents .text_block {
  width: 50%;
}
.about .contents .text_block p {
  font-size: 2rem;
  margin-bottom: 7rem;
}

/*---------------------------------

  information

---------------------------------*/
.information {
  padding: 7rem 0;
}
.information__inner {
  width: min(1100px, 90%);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information__inner .sec_title {
  width: 30%;
  text-align: left;
}
.information__inner dl {
  width: 68%;
  font-size: 2rem;
}
.information__inner dl div {
  border-bottom: 1px solid #00AE6E;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}

/*---------------------------------

  treatment

---------------------------------*/
.treatment {
  background-color: #FAFAFA;
  padding: 7rem 0;
}
.treatment__inner {
  width: min(1100px, 90%);
  margin: 0 auto;
}
.treatment .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
}
.treatment .items .item {
  width: 48%;
  background-color: #fff;
  padding: 3rem;
  margin-bottom: 6rem;
}
.treatment .items .item .title {
  margin: 3rem auto;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 900;
  color: #00AE6E;
}
.treatment .items .item .text {
  font-size: 2rem;
  margin-bottom: 6rem;
}
.treatment .items .item .btn {
  width: 80%;
}

/*---------------------------------

  introduction

---------------------------------*/
.introduction {
  background-image: url(../img/introduction_bg.png);
  background-size: cover;
  padding: 20rem 0;
}
.introduction__inner {
  width: min(900px, 90%);
  margin: 0 auto;
  background-color: #00AE6E;
  padding: 5rem 0;
}
.introduction__inner .sec_title {
  color: #fff;
  margin-bottom: 6rem;
}
.introduction__inner .sec_title span {
  color: #fff;
}
.introduction__inner .btn {
  background-color: #fff;
  color: #00AE6E;
  width: min(90%, 470px);
}
.introduction__inner .btn::after {
  background-image: url(../img/btn_arrow_gr.svg);
}

/*---------------------------------

  access

---------------------------------*/
.access {
  padding: 7rem 0;
}
.access__inner {
  width: min(900px, 90%);
  margin: 0 auto;
}

.time_list_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 3rem;
}
.time_list_wrap img {
  width: 48%;
}
.time_list_wrap > div {
  width: 50%;
}
.time_list_wrap .time_list {
  border-collapse: collapse;
  letter-spacing: 0.08em;
  margin-bottom: 1rem;
}
.time_list_wrap .time_list tr th {
  width: 100px;
  text-align: left;
  font-weight: normal;
}
.time_list_wrap .time_list tr td {
  padding: 1rem 1.6rem;
}
.time_list_wrap .time_list tr:not(:last-child) {
  border-bottom: 1px solid #00AE6E;
}
.time_list_wrap .time_list tr:nth-child(2) td, .time_list_wrap .time_list tr:nth-child(3) td {
  color: #00AE6E;
}
.time_list_wrap .note {
  margin-bottom: 1rem;
}
.time_list_wrap .tel_wrap {
  background-color: rgba(0, 174, 110, 0.2);
  padding: 2rem 0;
  text-align: center;
}
.time_list_wrap .tel_wrap .tel {
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-family: Open Sans Hebrew;
}
.time_list_wrap .tel_wrap .tel span {
  font-size: 1.6rem;
  font-weight: normal;
}
.time_list_wrap .tel_wrap .add {
  font-size: 1.6rem;
  letter-spacing: 0.08em;
}/*# sourceMappingURL=style.css.map */