$main_color: #00AE6E;
$text_color: #222;

//ブレイクポイント
$breakpoints: (
  "tab": "screen and (max-width: 1024px)",
  "sp": "screen and (max-width: 480px)",
  "5s": "screen and (max-width: 332px)",
);

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
};

@mixin mq($breakpoint: tab) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
};


@mixin inner {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;

  @include mq(tab) {
    width: 92%;
  }
};

@mixin title {
  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 3px;
    @include mq('tab') {
      width: 20px;
    }
  }
}
