@use "common";

/*---------------------------------

  footer

---------------------------------*/
footer {
  background: #616161;
  padding: 12px 0;
  @include common.mq('sp') {
    padding: 8px 0;
  }
  small {
    color: #fff;
    font-size: 12px;
    font-family: Noto Sans;
    letter-spacing: 3px;
    text-align: center;
    display: block;
    @include common.mq('sp') {
      letter-spacing: 0;
      font-size: 10px;
    }
  }
}