@use "common";

/*---------------------------------

  header

---------------------------------*/
.header {
  background: rgba(#fff, .4);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
  height: 9rem;
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;
  width: 100%;
  @include common.mq('tab') {
    height: 7rem;
  }
  @include common.mq('sp') {
    height: 4rem;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    @include common.mq('tab') {
      padding: 10px;
    }
    @include common.mq('sp') {
      padding: 5px;
    }
  }
  .logo_pc {
    width: 30%;
    max-width: 200px;
    @media screen and (max-width: 1133px) { 
      display: none;
    }
  }
  .nav_wrap {
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: 1133px) { 
      display: none;
    }
    .navigation {
      display: flex;
      align-items: center;
      list-style: none;
      li {
        position: relative;
        &:not(:last-child) {
          margin-right: 20px;
        }
        a {
          color: common.$text_color;
          font-size: 2rem;
        }
        &.navbtn {
          width: 260px;
          height: 6rem;
          border-radius: 50px;
          
          a {
            font-size: 2.2rem;
            padding-left: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 34px;
              height: 34px;
              background-size: contain;
              background-repeat: no-repeat;
              top: 50%;
              left: 18px;
              transform: translateY(-50%);
            }
          }
          &_tel {
            background-color: common.$point_color;
            margin-right: 15px;
            a {
              color: common.$text_color;
              &::before {
                background-image: url(../image/btn_icon_tel.svg);
              }
            }
          }
          &_line {
            background-color: #00B900;
            a {
              color: #fff;
              span {
                font-family: 'Noto Sans JP', sans-serif;
              }
              &::before {
                background-image: url(../image/btn_icon_line.svg);
              }
            }
          }
        }
      }
      
    }
    .nav_btn {
      height: 9rem;
      border-radius: 0 10px 10px 0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      background: common.$main_color;
      position: relative;
      color: #fff;
      text-align: center;
      padding: 10px 14px 0;
      &::after {
        content: "";
        position: absolute;
        background-image: url(../image/arrow_wh.svg);
        width: 12px;
        height: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &__sp {
    .sp_logo {
      width: 30%;
      max-width: 180px;
    }
    display: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: 1133px) { 
      display: flex;
    }
    .menu-trigger,
    .menu-trigger span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }
    .menu-trigger {
      position: relative;
      width: 24px;
      height: 18px;
      border: none;
      appearance: none;
      cursor: pointer;
      span {
        position: absolute;
        left: 0;
        width: 24px;
        height: 2px;
        background-color: common.$text_color;
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          top: 8px;
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
      }
      &.active span:nth-of-type(1) {
        transform: translateY(11px) rotate(-45deg);
      }
      &.active span:nth-of-type(2) {
        opacity: 0;
      }
      &.active span:nth-of-type(3) {
        transform: translateY(-5px) rotate(45deg);
      }
    }
  }
}

.gnav {
  position: fixed;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
  padding: 8rem 0 2rem;
  left: 0;
  top: 0;
  background: #BFE7F9;
  z-index: 12;
  display: none;
  &__menu {
    margin-bottom: 3rem;
    &__item {
      a {
        display: block;
        padding: 1rem 1.5rem;
        color: common.$text_color;
        position: relative;
        font-size: 2rem;
        text-align: center;
        @include common.mq('sp') {
          font-size: 1.4rem;
        }
      }
    }
  }
  .btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      font-size: 1.6rem;
      height: 4.5rem;
      padding-left: 26px;
      border-radius: 50px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 50%;
        left: 18px;
        transform: translateY(-50%);
      }
      &.tel {
        background-color: common.$point_color;
        color: common.$text_color;
        margin-bottom: 10px;
        &::before {
          background-image: url(../image/btn_icon_tel.svg);
        }
      }
      &.line {
        background-color: #00B900;
        color: #fff;
        span {
          font-family: 'Noto Sans JP', sans-serif;
        }
        &::before {
        background-image: url(../image/btn_icon_line.svg);
        }
      }
    }
  }
}