@use "common";

/*---------------------------------

  共通

---------------------------------*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  color: common.$text_color;
  line-height: 1.7;
  background-color: #fff;
}
a {
  text-decoration: none;
  transition: .5s;
  &:hover {
    opacity: .7;
  }
}
img {
  width: 100%;
}
.wrapper {
  position: relative;
  overflow: hidden;
}


//pcのみ改行
.br_pc {
  @include common.mq('tab') {
    display: none;
  }
}
//tabサイズ以下で改行
.br_tab {
  display: none;
  @include common.mq('tab') {
    display: block;
  }
}
//spのみで改行
.br_sp {
  display: none;
  @include common.mq('sp') {
    display: block;
  }
}


/*---------------------------------

  mv

---------------------------------*/
.mv {
  position: relative;
  &__text {
    position: absolute;
    left: 0;
    bottom: 100px;
    background-color: rgba( common.$main_color, .7);
    padding: 5rem 10rem;
    .text1 {
      font-size: 4rem;
      font-weight: bold;
      color: #fff;
      letter-spacing: 0.1em;
      margin-bottom: 3rem;
    }
    .text2 {
      font-size: 2rem;
      font-weight: bold;
      color: #fff;
    }
  }
}
